<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="keywords" content="updraft">
    <meta name="description" content="updraft">
    <meta property="og:title" content="updraft">
    <meta property="og:url" content="">
    <title>links - The collection of web links that focuses on development</title>
    <link href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("custom/css/style.css") }}" rel="stylesheet">
    <script src="{{ static_url("jquery/js/jquery.min.js") }}"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("custom/js/script.js") }}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">links</h3>
    </div>
    {% for key in items.keys() %}
        <h3>{{ key }}</h3>
        <ul>
        {% for item in items[key] %}
            <li><a href="{{ item['url'] }}">{{ item['title'] }}<img src="http://b.hatena.ne.jp/entry/image/{{ item['url' ]}}"></a></li>
        {% end %}
        </ul>
    {% end %}
    <div class="footer">
        <p>Developed by Shoya Ishimaru.</p>
    </div>
</div>
</body>
</html>
